[Desktop Entry]
Exec=/usr/local/bin/pc-sysinstaller
GenericName[en_US]=
GenericName=
Icon=/root/installtrueos.png
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=Install TrueOS
Name[af]=Installeer TrueOS
Name[ar]=ثبت TrueOS
Name[bg]=Инсталиране на TrueOS
Name[bs]=Instaliraj TrueOS
Name[ca]=Instal·lar TrueOS
Name[da]=Installer TrueOS
Name[de]=TrueOS installieren
Name[el]=Εγκαταστήστε το TrueOS
Name[en_GB]=Install TrueOS
Name[en_US]=Install TrueOS
Name[en_ZA]=Install TrueOS
Name[es]=Instalar TrueOS
Name[et]=Paigalda TrueOS
Name[fa]=نصب TrueOS
Name[fi]=Asenna TrueOS
Name[fr]=Installer TrueOS
Name[fr_CA]=Installer TrueOS
Name[he]=התקן את TrueOS
Name[hi]=संस्थापना करें पी.सी-बी.एस.डी की 
Name[hr]=Instaliraj TrueOS
Name[hu]=PC–BSD telepítése
Name[id]=Instal TrueOS
Name[it]=Installa TrueOS
Name[ja]=TrueOS のインストール
Name[ko]=TrueOS 설치
Name[lv]=Installēt TrueOS
Name[mn]=TrueOS суулгах
Name[mt]=Install TrueOS
Name[nb]=Installér TrueOS
Name[nl]=Installeer TrueOS
Name[pl]=Zainstaluj TrueOS
Name[pt_BR]=Instalar TrueOS
Name[ro]=Instalare TrueOS
Name[ru]=Установить TrueOS
Name[sk]=Inštalovať TrueOS
Name[sl]=Namesti TrueOS
Name[sr]=Instaliraj TrueOS
Name[sv]=Installera TrueOS
Name[tg]=Сабткунии TrueOS
Name[tr]=TrueOS'yi kur
Name[uk]=Встановити TrueOS
Name[vi]=Cài đặt TrueOS
Name[zh_CN]=安装 TrueOS
Name[zh_HK]=安裝 TrueOS
Name[zh_TW]=安裝TrueOS
Comment=Install TrueOS to Disk
Comment[af]=Installeer TrueOS te Skyf
Comment[ar]=ثبت TrueOS على القرص الصلب
Comment[bg]=Инсталирай TrueOS на диска
Comment[bs]=Instaliraj TrueOS na hardisk
Comment[ca]=Instal·lar TrueOS al disc
Comment[da]=Installer TrueOS på disk
Comment[de]=TrueOS auf Festplatte installieren
Comment[el]=Εγκαταστήστε το TrueOS στο δίσκο
Comment[en_GB]=Install TrueOS to Disk
Comment[en_US]=Install TrueOS to Disk
Comment[en_ZA]=Install TrueOS to Disk
Comment[es]=Instalar TrueOS en un disco
Comment[et]=Paigalda TrueOS kettale
Comment[fa]=نصب TrueOS برروي ديسك
Comment[fi]=Asenna TrueOS levylle
Comment[fr]=Installer TrueOS sur le disque
Comment[fr_CA]=Installer TrueOS sur le disque
Comment[he]=התקן את TrueOS לדיסק
Comment[hi]=डिस्क में संस्थापना करें पी.सी-बी.एस.डी की 
Comment[hr]=Instaliraj TrueOS na disk
Comment[hu]=PC–BSD telepítése lemezre
Comment[id]=Instal TrueOS ke Disk
Comment[it]=Installa TrueOS sul Disco
Comment[ja]=TrueOS をディスクにインストール
Comment[ko]=TrueOS를 디스크에 설치
Comment[lv]=Installēt TrueOS uz diska
Comment[mn]=TrueOS Диск рүү суулгах
Comment[mt]=Installa TrueOS li Disk
Comment[nb]=Installér TrueOS til Disk
Comment[nl]=Installeer TrueOS op schijf
Comment[pl]=Zainstaluj TrueOS na dysku
Comment[pt_BR]=Instalar o TrueOS no HD
Comment[ro]=Instalaţi TrueOS pe disc
Comment[ru]=Установить TrueOS на диск
Comment[sk]=Inštalovať TrueOS na disk
Comment[sl]=Namesti TrueOS na disk
Comment[sr]=Instaliraj TrueOS na hardisk
Comment[sv]=Installera TrueOS till hårddisk
Comment[tg]=TrueOS-ро ба диски компютерӣ сабт кунед
Comment[tr]=TrueOS'yi Diske Kur
Comment[uk]=Встановити TrueOS на диск
Comment[vi]=Cài đặt TrueOS vào đĩa
Comment[zh_CN]=安装 TrueOS 的磁盘
Comment[zh_HK]=將 TrueOS 安裝至磁碟
Comment[zh_TW]=安裝TrueOS至磁碟
