[Desktop Entry]
Version=1.0
Name=Life-Preserver
Exec=/usr/local/share/trueos/xdg-auto/life-preserver.sh
Terminal=false
Type=Application
Icon=/usr/local/share/trueos/icons/lifepreserver.png
Categories=
GenericName=
X-GNOME-Autostart-Phase=Applications
X-MATE-Autostart-Phase=Applications
